/**********************
 * Admin Options Page *
 **********************/

.tlr-option-wrap {
    display: grid;
    grid-template-areas: "a a b" "a a b" "c c c";
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    -ms-grid-columns: auto auto 33%;
    grid-template-columns: auto auto 33%;
    grid-row-gap: 10px;
    row-gap: 10px;
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
}
    .tlr-option-wrap > div:first-of-type {
        grid-area: a;
    }
    .tlr-option-wrap > div:nth-last-of-type(2) {
        grid-area: b;
    }
    .tlr-option-wrap > div:last-of-type {
        grid-area: c;
    }
    .tlr-sub-option-container {
        border: 1px solid #ccc;
        padding: 0 20px;
        border-radius: 3px;
    }
        .tlr-sub-option-wrap {
            display: grid;
            grid-template-areas: "a b b" "a b b" "c c c";
            grid-template-columns: 150px auto auto;
            margin-bottom: 15px;
            margin-top: 15px;
            row-gap: 5px;
            column-gap: 10px;
        }
            .tlr-sub-option-wrap > div:first-of-type {
                grid-area: a;
            }
            .tlr-sub-option-wrap > div:nth-last-of-type(2) {
                grid-area: b;
            }
            .tlr-sub-option-wrap > div:last-of-type {
                grid-area: c;
            }
.tlr-member-selector-wrap {
    display: grid;
    grid-template-columns: auto;
}
.tlr-member-selector-wrap label {
    margin-bottom: 5px;
}
.member-selector-data {
    display: none;
}
.tlr-options tr[class*="-content"] {
    display: none;
    /*background-color: rgba(95, 158, 160, 0.06);*/
    border-top: unset;
}
.tlr-options tr[class*="-content"] th {
    background-color: #f0f0f0;
    vertical-align: unset;
    color: #3e798a;
}

html[dir=rtl] .tlr-options tr[class*="-content"] th {
    padding-right: 25px!important;
}

.tlr-tab {
    display:inline-block;
}

.tlr-form-field-wrapper {
    background: #fff;
    min-width: 200px;
    display: inline-block;
    border: 2px solid #e0dfdf;
    border-radius: 3px;
    padding: 5px 8px;
    margin: 5px 15px;
    vertical-align: middle;
    cursor: move;
}
html[dir=rtl] input.field-control {
    margin-left:15px;
}
.tlr-form-field-wrapper::before {
    content: "\f333";
    font-family: Dashicons;
    font-size: 24px;
    color: #999;
    line-height: 1em;
    vertical-align: text-bottom;
}
.field-title {
    border: none;
    padding: 7px;
    border-radius: 3px;
}
html[dir=rtl] .tlr-form-field-wrapper::before {
    right: -35px;
}

.tlr-newsletter-design .wp-picker-container{
    display: inline-block;
}
.tlr-newsletter-design-section {
    display: block;
    font-size:13px;
    font-weight: bold;
}

.color-selector-title {
    margin: 0 10px;
}

.tlr-small-field {
    width:4.5em;
}

.tlr-tiny-field {
    width:3em;
}

.country-codes input {
    width:3em;
}

.tlr-radio-label {
    display: inline-block;
    margin: 0 0.5em;
}

span.color-alpha {
    min-height: 28px;
}

html[dir=rtl] .color-alpha {
    left: unset!important;
    right: 0!important;
}

html[dir=rtl] .remove-variable, html[dir=rtl] .add-variable {
    margin-right:5px;
}

.remove-variable, .add-variable {
    text-decoration: none;
    font-size: 0.8em;
    background-color: cadetblue;
    color: white;
    padding: 5px;
    border-radius: 3px;
    border: none;
}

.remove-variable:hover, .add-variable:hover, .remove-variable:focus, .add-variable:focus {
    background-color: #307988;
    color: white;
}
.tlr-options .tlr-helper {
    vertical-align: top;
    padding: 15px;
    background-color: #3a6c8410;
    border-radius: 3px;
    box-shadow: #00000015 2px 2px 5px 2px;
    margin-bottom: 15px;
}

.tlr-options table {
    border: solid 1px #44879850;
    background-color: #ffffff;
}

.tlr-options tr {
    border-top: solid 1px #44879850;
}

.tlr-options td {
    padding: 20px;
}

.tlr-options th {
    background-color: #eaeaea;
    color: #000;
    padding: 20px;
    vertical-align: middle;
}

.tlr-registration-design table {
    border:unset;
    width:100%!important;
}

.tlr-options > p.description {
    font-size: 14px;
    margin-bottom: 15px;
}

code.tlr-tag {
    border-radius: 3px;
    cursor: pointer;
    background: rgba(0,0,0,.07);
}

.sms-counter-wrap {
    display: inline-block;
}

.variable-field div {
    display: grid;
    grid-template-columns: max-content max-content;
    -ms-grid-columns: max-content max-content;
    column-gap: 10px;
    grid-column-gap: 10px;
    margin-bottom: 8px;
}

th.tlr-sub-table-heading{ padding-bottom: 12px; padding-top: 12px; border-radius: 3px; background-color: #f3f3f3; box-shadow: 1px 3px 7px 2px #00000026;}

/**********************
 * Admin Member Page *
 **********************/

.post-type-tlr_member #post-body-content {display:none!important;}

.member-data-column-container {
    clear: both;
    display: flex;
    padding: 15px;
    border-radius: 4px;
}
.texteller .member-data-column {
    width: 49%;
    padding: 1% 2%;
}
.tlr-small-input {max-width:85px;}
.tlr-data-fields, .select2-container  {float:right;}
html[dir=rtl] .tlr-data-fields, html[dir=rtl] .select2-container  {float:left;}
.member-data-column p {
    padding-right: 1.2em;
    margin-bottom: 1.4em;
}
.tlr-ltr-field {direction: ltr;}
h2.tlr-title {font-weight: 700!important; font-size: 20px!important;}
.tlr-verify {
    padding: 5px 7px;
    color: #fff;
    border-radius: 3px;
    font-size: 0.9em;
    font-weight: 500;
}
.tlr-unverified {
    background-color: #b33232;
}

.tlr-verified {
    background-color: #0099dc;
}
.iti {
    vertical-align: middle;
    float: right;
}

html[dir=rtl] .iti {
    float: left;
}

.tlr-wide{clear: both;}
.save_member {float:right}

html[dir=rtl] .save_member {float:left}

.member-history table {width:100%;}
.member-history td, .member-history th {
    padding: 8px;
}

.member-history tr:nth-child(2n+3) {
    background-color: #4db7b715;
}

.member-history tr:first-child {
    background-color: #399bab;
    color: #fff;
}

.member-history {
    text-align: center;
}

.member-history .message-content {
    text-align: initial;
}
#tlr-member-send-message #message-content {
    width: 100%;
    height: 7em;
}

.send-message label {
    display: inline-flex;
    margin-bottom: 5px;
    margin-top: 8px;
}

#tlr_description {
    width:100%;
    height: 5em;
}

.member_actions li {
    margin-bottom: 8px;
}

/* Notification Options */
.action-wrap {
    display: none;
    margin-top: 10px;
}
    .action-list-wrap {
        padding: 10px 0;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
        grid-column-gap: 10px;
    }
        .active-action {
            font-weight: bold;
        }
        .action-buttons-wrap {
            display: inline-grid;
            grid-template-columns: auto auto auto;
            -ms-grid-columns: auto auto auto;
            grid-column-gap: 8px;
            column-gap: 8px;
        }
            .action-button {
                padding: 5px;
                min-width: 70px;
            }
    .action-edit-wrap {
        border: 1px solid #cccccc;
        border-radius: 3px;
        background-color: #f4f8ff;
    }
        .action-form {
            display:grid;
            grid-template-columns: auto;
            -ms-grid-columns: auto;
            padding: 20px;
        }
        .basic-fields{
            display:grid;
            grid-template-columns: calc(50% - 10px) calc(50% - 10px);
            -ms-grid-columns: auto auto;
            column-gap: 20px;
            grid-column-gap: 20px;
            grid-row-gap: 10px;
            row-gap: 10px;
            margin-top: 10px;
        }
            .action-field-wrap {
                display: grid;
                grid-template-columns: auto minmax(auto, max-content);
                -ms-grid-columns: auto auto;
            }
                .action-field-label {
                    display: flex;
                    align-items: center;
                }

                .action-form input[type='checkbox'],.action-form input[type='radio'] {
                    margin: 0;
                    align-self: center;
                }
            .hidden-radio {
                display: none!important;
            }
            .recipient-type-wrap {
                display: grid;
                grid-template-columns: auto auto auto auto;
                -ms-grid-columns: auto auto auto auto;
            }
                .recipient-type-wrap > div {
                    display: grid;
                    grid-template-columns: minmax(auto, max-content) auto;
                    -ms-grid-columns: minmax(auto, max-content) auto;
                    grid-column-gap: 8px;
                    column-gap: 8px;
                }
                    .recipient-type-label, .trigger-recipient-type-label{
                        background-color: #f7f7f7;
                        padding: 10px;
                        border-radius: 3px;
                        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.15);
                    }
                    .recipient-type-label.has-active-content {
                        background-color: #5297ad;
                        box-shadow: inset 1px 1px 5px 2px rgba(0, 0, 0, 0.15);
                        color: rgba(255, 255, 255, 0.98);
                    }
                    .trigger-recipient-type-label.has-active-content {
                        background-color: #4aa6aa;
                        box-shadow: inset 1px 1px 5px 2px rgba(0, 0, 0, 0.15);
                        color: rgba(255, 255, 255, 0.98);
                    }
                    .recipient-content {
                        display: none;
                        margin-top: 15px;
                    }
                        .trigger-recipient-content {
                            display: none;
                        }
                        .trigger-recipient-content .tlr-separator {
                            margin: 15px 0;
                        }
                        .recipient-content > div {
                            display: grid;
                            grid-template-columns: auto;
                            -ms-grid-columns: auto;
                            grid-row-gap: 20px;
                            row-gap: 20px;
                        }
                            .staff-option-wrap {
                                margin-bottom: 5px;
                            }
                                .staff-content {
                                    display: none;
                                    margin-top: 5px;
                                }
                                    .staff-select {
                                        margin-top: 5px;
                                    }
                                .numbers-content {
                                    display: none;
                                }
                                    .recipient-numbers-wrap {
                                        display: grid;
                                        grid-template-columns: auto;
                                        -ms-grid-columns: auto;
                                        row-gap: 8px;
                                        grid-row-gap: 8px;
                                    }

                                        .recipient-number {
                                            display: grid;
                                            grid-template-columns: max-content max-content;
                                            -ms-grid-columns: auto auto;
                                            column-gap: 10px;
                                            grid-column-gap: 10px;
                                        }
.recipient-type-fields-wrap {
    display: grid;
    grid-template-columns: auto;
    -ms-grid-columns: auto;
    row-gap: 10px;
}
/*.recipient-message-content {
    display: grid;
    grid-template-columns: auto auto;
    -ms-grid-columns: auto auto;
    grid-gap: 10px;
}

.content-labels-wrap {
    grid-column: 1/2;
    grid-row: 1/3;
}

.recipient-message-content textarea {
    grid-area: 1 / 2 / 4 / 2;
}
.recipient-message-content .sms-counter-wrap {
    grid-column: 1/2;
    grid-row: 3/3;
    text-align: end;
}*/
.text-content {
    display: grid;
    grid-template-columns: auto max-content;
    -ms-grid-columns: auto auto;
    column-gap: 15px;
    grid-column-gap: 15px;
}
.message-tags ul {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    -ms-grid-columns: auto auto;
    column-gap: 20px;
    grid-column-gap: 20px;
}

.message-tags li {
    display: inherit;
    grid-template-columns: auto max-content;
    -ms-grid-columns: auto auto;
    column-gap: 5px;
    grid-column-gap: 5px;
}

.tlr-separator {
    margin-top: 7px;
    margin-bottom: 7px;
}

/* Gateway Specific Options */
.melipayamak-shared-content {
    display: grid;
    grid-template-columns: auto;
    -ms-grid-columns: auto;
    row-gap: 15px;
    grid-row-gap: 15px;
}
.shared-variables label, .shared-bid label {
    display: grid;
    grid-template-columns: max-content max-content;
    -ms-grid-columns: max-content max-content;
    column-gap: 15px;
    grid-column-gap: 15px;
    align-items: center;
}

/*
 * Admin Manual Send
 */

.tlr-section {
    display: grid;
    grid-template-columns: 150px auto;
}
.tlr-section-wrap {
    display: grid;
    grid-template-columns: auto;
    row-gap: 15px;
}
.tlr-recipient-type-wrap {
    display: grid;
    grid-template-columns: auto;
    -ms-grid-columns: auto;
    grid-row-gap: 7px;
    row-gap: 7px;
    margin-bottom: 15px;
}

.tlr-recipient-type {
    display: grid;
    grid-template-columns: max-content auto;
    -ms-grid-columns: max-content auto;
    -webkit-column-gap: 7px;
    -moz-column-gap: 7px;
    column-gap: 7px;
    align-items: center;
    padding: 8px;
    background-color: #dbe7ea;
    border-radius: 3px;
}
.tlr-recipient-type input {
    margin: 0;
}
.tlr-manual-send .message-content-wrap {
    display: grid;
    grid-template-columns: max-content max-content;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
}
.tlr-manual-send textarea#message-content {
    resize: both;
}

.recipient-type-content-wrap {
    display: none;
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 4px;
}

.send-message .sms-counter-wrap {
    width: 100%;
    margin: 0;
}

.message-filters-wrap {display: flex;}

.recipient-field-label { margin-bottom: 5px;}
.filters-container {
    display: inline-block;
    vertical-align: middle;
}
.filter-group-container {
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
}
.filters-preview-wrap {
    vertical-align: middle;
}

.send-filters-wrap {
    display: grid;
    grid-template-columns: max-content auto;
    -ms-grid-columns: max-content auto;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
}

.single-recipient-type-wrap {
    display: grid;
    grid-template-columns: 200px auto;
    -ms-grid-columns: 200px auto;
    -webkit-column-gap: 7px;
    -moz-column-gap: 7px;
    column-gap: 7px;
}
button#tlr-send {
    padding: 10px;
    width: calc(100% - 10px);
}

.gateway-checker-wrap {
    width: max-content;
    padding: 25px;
    background-color: #e8f2f2;
    margin-top: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.gateway-info-wrap {
    display: grid;
    grid-template-columns: 200px auto;
    row-gap: 0.4em;
}